.btn-blue {
	background-color: #03045E;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	text-decoration: none;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}
.btn-blue:hover {
	background-color: rgb(50, 50, 50);
	color: white;
}